#skills{
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.skillsBox{
  flex: 1;
}


.skillTitle{
  font-size: 3rem;
  font-weight: 500;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.skillDescription{
  font-weight: 300;
  font-size: 1.2rem;
  max-width: 50rem;
  padding: 0 2rem;
}

.skillBars{
  margin: 1.5rem;
  width: 60vw;
  max-width: 80%;
  text-align: left;
  justify-content: center;  
  display: flex;
  gap: 2rem;
}

.skillBar{
  background: rgb(50, 50, 50);
  display: flex;
  width: 100%;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
}

.skillBarLogo{
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}

.skillBarText{
  font-size: 1.1rem;
  font-weight: 200;
  margin-top: 0.5rem;
}

@media screen and (max-width:720px){
  .skillBarText>p{
    font-size: 3.7vw;
  }

  .skillBarText>h2{
    font-size: 1.3rem;
    font-weight: 400;
  }

  .skillDescription{
    font-size: 1rem;
  }

  .skillBarLogo{
    height: 2rem;
    width: 2rem;
  }

  .skillBars{
    flex-direction: column;
  }
}