#projects{
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0 1rem;
}

.projectGeneralTitle{
  margin: 1rem, 0;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.projectTitle{
  margin: 1rem 0;
  font-size: 2rem;
}

.projectDescription{
  font-weight: 200;
  font-size: 1rem;
  padding-bottom: 1rem;
  text-align: justify;
  padding-bottom: 2rem;

  max-width: 47rem;
  margin: 0 auto;
  display: block;  
}

.projectBox{
  padding-bottom: 4rem;
}

.link{
  color: yellow;
}

.bilimetrixPhoto{
  width: 45rem;
}

.capstonePhoto{
  width: 35rem;
}

@media screen and (max-width:480px){
  .capstonePhoto{
    width: 20rem;
    height: auto;
  }

  .bilimetrixPhoto{
    width: 25rem;
  }

  .projectTitle{
    font-size: 1.5rem;
  }


}